/app/assets/*
**/app/bundle/**/*.js
/app/assets/*
/app/system/modules/editor/app/assets/*
!/app/system/modules/editor/app/assets/tinymce_skin
/app/vendor/*
/app/installer/assets/css/*
/app/system/modules/theme/css/*
/app/system/modules/theme/js/theme.js
/packages/*
/greencheap*.zip
/greencheap.db
/config.php
/config-dev.php
node_modules
.DS_Store
.idea
*.zip
robots.txt
.vscode/
/tmp/docker_volume
package-lock.json