<table class="uk-table uk-table-hover uk-table-middle uk-margin-remove">

    <thead>
        <tr>
            <th class="pk-table-width-minimum">
                <input v-check-all:$parent.selected="{ selector: 'input[name=name]' }" class="uk-checkbox" type="checkbox">
            </th>
            <th>
                {{ 'Name' | trans }}
            </th>
            <th class="pk-table-width-100 uk-text-right">
                {{ 'Size' | trans }}
            </th>
            <th class="pk-table-width-150">
                {{ 'Modified' | trans }}
            </th>
        </tr>
    </thead>

    <tbody>
        <tr v-for="folder in filterBy($parent.searched, 'application/folder', 'mime')" class="uk-visible-toggle" :class="{'uk-active': $parent.isSelected(folder.name)}" @click.prevent="$parent.toggleSelect(folder.name)">
            <td class="uk-table-shrink"><input class="uk-checkbox" type="checkbox" name="name" :value="folder.name" v-model="$parent.selected" @click.stop></td>
            <td class="pk-table-min-width-200 uk-flex uk-flex-middle">
                <div class="pk-table-width-50 uk-padding-remove tm-folder-icon">
                    <i uk-icon="icon: folder"></i>
                </div>
                <a @click.stop="$parent.setPath(folder.path)" class="uk-link-reset tm-font-weight-600 uk-text-capitalize uk-margin-small-left">{{ folder.name }}</a>
            </td>
            <td></td>
            <td></td>
        </tr>

        <tr v-for="file in filterBy($parent.searched, 'application/file', 'mime')" class="uk-visible-toggle" :class="{'uk-active': $parent.isSelected(file.name)}" @click.prevent="$parent.toggleSelect(file.name)">
            <td class="uk-table-shrink"><input class="uk-checkbox" type="checkbox" name="name" :value="file.name" v-model="$parent.selected" @click.stop></td>
            <td class="pk-table-min-width-200 uk-flex uk-flex-middle">
                <div class="pk-table-width-50 uk-padding-remove uk-text-center">
                    <div class="uk-cover-container" v-if="$parent.isImage(file.path) && $parent.isFileExt(file.name, 'gif|jpe?g|png|bmp|webp')">
                        <i class="uk-background-cover uk-position-cover" v-lazy-background="$url(file.url)" :data-src="$url(file.url)" uk-img></i>
                        <canvas class="uk-responsive-width uk-display-block" width="100" height="56"></canvas>
                    </div>
                    <div class="uk-cover-container" v-if="$parent.isImage(file.path) && $parent.isFileExt(file.name, 'svg|ico')">
                        <i class="uk-background-cover uk-position-cover" v-lazy-background="$url(file.url)" :style="{ background: 'url('+$url(file.url)+') no-repeat center', backgroundSize: '85%', backgroundColor: 'rgba(207, 210, 216, .7)'}"></i>
                        <canvas class="uk-responsive-width uk-display-block" width="100" height="56"></canvas>
                    </div>
                    <i v-if="!$parent.isImage(file.path)" class="pk-icon-file-circle"></i>
                </div>
                <span class="uk-margin-small-left">{{ file.name }}</span>
            </td>
            <td class="uk-text-right uk-text-nowrap pk-table-width-100">{{ file.size }}</td>
            <td class="uk-text-nowrap pk-table-width-150">{{ file.lastmodified | relativeDate }}</td>
        </tr>
    </tbody>

</table>


