<ul uk-height-match="target: > li > div > .uk-card-media-top" v-if="$parent.items.length" uk-grid
    class="uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-child-width-1-5@l uk-child-width-1-5@xl">
    <li v-for="folder in filterBy($parent.searched, 'application/folder', 'mime')">
        <div class="uk-panel uk-text-center" @click.prevent="$parent.toggleSelect(folder.name)">
            <div class="uk-card-media-top uk-cover-container">
                <div class="uk-background-cover uk-position-center" uk-icon="icon: folder; ratio:3"></div>
                <canvas class="uk-responsive-width uk-display-block" width="622" height="350"></canvas>
            </div>
            <div class="uk-card-footer uk-text-truncate uk-padding-remove">
                <input class="uk-checkbox" type="checkbox" :value="folder.name" v-model="$parent.selected" @click.stop/>
                <a class="uk-link-reset tm-font-weight-600 uk-text-capitalize uk-h6"
                   @click.stop="$parent.setPath(folder.path, $event)" style="margin-left: 2px">{{ folder.name }}</a>
            </div>
        </div>
    </li>

    <li v-for="file in filterBy($parent.searched, 'application/file', 'mime')">
        <div class="uk-panel uk-text-center uk-position-relative" @click.prevent="$parent.toggleSelect(file.name)">
            <div class="uk-card-media-top uk-cover-container">
                <div class="uk-background-cover uk-position-cover"
                     v-if="$parent.isImage(file.path) && $parent.isFileExt(file.name, 'gif|jpe?g|png|bmp|webp')"
                     v-lazy-background="$url(file.url)" :data-src="$url(file.url)" uk-img></div>
                <div class="uk-background-cover uk-position-cover"
                     v-if="$parent.isImage(file.path) && $parent.isFileExt(file.name, 'svg|ico')"
                     v-lazy-background="$url(file.url)"
                     :style="{ background: 'url('+$url(file.url)+') no-repeat center', backgroundSize: '85%', backgroundColor: 'rgba(207, 210, 216, .7)'}"></div>
                <div class="uk-background-cover uk-position-cover"
                     v-if="$parent.isVideo(file.path) && $parent.isFileExt(file.name, 'mpeg|ogv|mp4|webm|wmv')"
                     v-lazy-background="$url('app/system/modules/theme/assets/images/video-placeholder.svg')"
                     :style="{ background: 'url('+$url('app/system/modules/theme/assets/images/video-placeholder.svg')+') no-repeat center', backgroundSize: '85%', backgroundColor: 'rgba(207, 210, 216, .7)'}"></div>
                <div class="uk-background-cover uk-position-cover pk-thumbnail-file"
                     v-if="!$parent.isImage(file.path)"></div>
                <canvas class="uk-responsive-width uk-display-block" width="622" height="350"></canvas>
            </div>
            <div class="uk-card-footer uk-padding-small uk-text-break">
                <span><input class="uk-checkbox" type="checkbox" :value="file.name" v-model="$parent.selected"
                             @click.stop/>
                <span class="uk-text-small" style="margin-left: 2px">{{ file.name }}</span></span>
            </div>
        </div>
    </li>
</ul>
