<div>
    <div class="uk-margin">
        <label for="form-menu-title" class="uk-form-label">{{ 'Menu Title' | trans }}</label>
		<v-input id="form-menu-title" name="title" type="text" rules="required" view="class: uk-form-width-large uk-input" v-model="node.title" message="Invalid name." />
    </div>

    <div class="uk-margin">
        <label for="form-slug" class="uk-form-label">{{ 'Slug' | trans }}</label>
        <div class="uk-form-controls">
            <input id="form-slug" class="uk-form-width-large uk-input" type="text" v-model="node.slug">
        </div>
    </div>

    <div class="uk-margin">
        <label for="form-status" class="uk-form-label">{{ 'Status' | trans }}</label>
        <div class="uk-form-controls">
            <select id="form-status" class="uk-form-width-large uk-select" v-model.number="node.status">
                <option value="0">{{ 'Disabled' | trans }}</option>
                <option value="1">{{ 'Enabled' | trans }}</option>
            </select>
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label">{{ 'Restrict Access' | trans }}</label>
        <div class="uk-form-controls uk-form-controls-text">
            <p v-for="role in roles" class="uk-margin-small">
                <label><input class="uk-checkbox" type="checkbox" :value="role.id" v-model.number="node.roles"><span class="uk-margin-small-left">{{ role.name }}</span></label>
            </p>
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label">{{ 'Menu' | trans }}</label>
        <div class="uk-form-controls uk-form-controls-text">
            <label><input class="uk-checkbox" type="checkbox" value="center-content" v-model="node.data.menu_hide"><span class="uk-margin-small-left">{{ 'Hide in menu' | trans }}</span></label>
        </div>
    </div>
</div>
