//
// Component: Notification
//
// ========================================================================


// Variables
// ========================================================================


// Component
// ========================================================================

.hook-notification() {}


// Message
// ========================================================================

.hook-notification-message() {
    font-size: 1rem;
    padding: 10px 15px;
}


// Close
// ========================================================================

.hook-notification-close() {
    top: 14px;
}


// Style modifiers
// ========================================================================

.hook-notification-message-primary() {
    color: @global-emphasis-color;
    border: 1px solid @theme-border-content;
}

.hook-notification-message-success() {}

.hook-notification-message-warning() {}

.hook-notification-message-danger() {}


// Miscellaneous
// ========================================================================

.hook-notification-misc() {}