@tm-border-radius: 5px; 

@tm-dark-mode-primary-background: #0b0c0b;
@tm-dark-mode-secondary-background: #101010;
@tm-dark-mode-background: #121212;
@tm-dark-mode-muted-background: #171616;

.tm-darkmode{
    background:@tm-dark-mode-background !important;
}

.tm-darkmode #header > *
{
    background-color: @tm-dark-mode-secondary-background !important;
}

.tm-darkmode .uk-section-secondary{
    background:@tm-dark-mode-background !important;
}

.tm-darkmode .uk-card-default{
    background-color:@tm-dark-mode-primary-background !important;
    color:@global-inverse-color;
}
.tm-darkmode .uk-card-primary{
    background-color:@tm-dark-mode-primary-background !important;
    color:@global-inverse-color;
}
.tm-darkmode .uk-card-secondary
{
    background-color:@tm-dark-mode-secondary-background !important;
    color:@global-inverse-color;
}
.tm-darkmode .uk-card-muted{
    background-color:@tm-dark-mode-muted-background !important;
    color:@global-inverse-color;
}

.tm-darkmode .tm-navbar-item{
    color:@global-inverse-color;
}

.tm-darkmode .uk-modal-dialog{
    background: @tm-dark-mode-background;
    color: @global-inverse-color;
}

.tm-darkmode .uk-tab > .uk-active > a{
    border-color: fade(@global-inverse-color , 20%);
}

.tm-section-2xsmall{
    padding:0px;
}