@tm-border-radius: 5px; 

@tm-dark-mode-primary-background: #0b0c0b;
@tm-dark-mode-secondary-background: #101010;
@tm-dark-mode-background: #121212;
@tm-dark-mode-muted-background: #171616;

.tm-darkmode{
    background:@tm-dark-mode-background !important;
}

.tm-darkmode #header > *
{
    background-color: @tm-dark-mode-secondary-background !important;
}

.tm-darkmode .uk-section-secondary{
    background:@tm-dark-mode-background !important;
}

.tm-darkmode .uk-card-default{
    background-color:@tm-dark-mode-primary-background !important;
    color:@global-inverse-color;
}
.tm-darkmode .uk-card-primary{
    background-color:@tm-dark-mode-primary-background !important;
    color:@global-inverse-color;
}
.tm-darkmode .uk-card-secondary
{
    background-color:@tm-dark-mode-secondary-background !important;
    color:@global-inverse-color;
}
.tm-darkmode .uk-card-muted{
    background-color:@tm-dark-mode-muted-background !important;
    color:@global-inverse-color;
}

.tm-darkmode .tm-navbar-item{
    color:@global-inverse-color;
}

.tm-darkmode .uk-modal-dialog{
    background: @tm-dark-mode-background;
    color: @global-inverse-color;
}

.tm-darkmode .uk-tab > .uk-active > a{
    border-color: fade(@global-inverse-color , 20%);
}

.tm-darkmode .uk-overlay-default{
    background:fade(@tm-dark-mode-primary-background , 80%);
}

.tm-darkmode .uk-input,
.tm-darkmode .uk-select,
.tm-darkmode .uk-textarea,
.tm-darkmode .uk-radio,
.tm-darkmode .uk-checkbox{
    background-color:transparent !important;
    border:1px solid fade(@global-inverse-color , 25%);
}

.tm-darkmode .uk-radio,
.tm-darkmode .uk-checkbox{
   color: @global-primary-background !important; 
}

.tm-darkmode .uk-text-muted{
    color: fade(@global-inverse-color , 50%) !important;
}

.tm-darkmode .uk-dropdown{
    background: @tm-dark-mode-secondary-background !important;
}

.tm-section-2xsmall{
    padding:0px;
}